<header class="page-head">
  <h1>Confirm Vehicle Basic Info</h1>
</header>
<div class="page form">
  <!-- Add Vehicle -->
  <form ng-submit="vm.addVehicle()" >
    <ul class="cols-2">
      <li class="input">
        <label>VIN</label>
        <input type="text" ng-model="vm.vin" ng-value = "vm.vin" placeholder="{{ vm.vin }}"/>
      </li>
      <li class="dropdown">
        <label>Year</label>
        <select class="na-select" ng-model="vm.year" id="select_year_min">
          <option ng-value="{{vm.year}}" selected>{{ vm.year }}</option>
          <option ng-value="2017">2017</option>
          <option ng-value="2016">2016</option>
          <option ng-value="2015">2015</option>
          <option ng-value="2014">2014</option>
          <option ng-value="2013">2013</option>
          <option ng-value="2012">2012</option>
          <option ng-value="2011">2011</option>
          <option ng-value="2010">2010</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Make</label>
        <select class="na-select"  ng-model="vm.make">
          <option ng-value="{{vm.make}}" selected>{{vm.make}}</option>
          <option value="1">Make 1</option>
          <option value="2">Make 2</option>
          <option value="3">Make 3</option>
          <option value="4">Make 4</option>
          <option value="5">Make 5</option>
          <option value="6">Make 6</option>
          <option value="7">Make 7</option>
          <option value="8">Make 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Model</label>
        <select class="na-select" ng-model="vm.model">
          <option value="{{vm.model}}" selected>{{vm.model}}</option>
          <option value="1">Model 1</option>
          <option value="2">Model 2</option>
          <option value="3">Model 3</option>
          <option value="4">Model 4</option>
          <option value="5">Model 5</option>
          <option value="6">Model 6</option>
          <option value="7">Model 7</option>
          <option value="8">Model 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Trim</label>
        <select class="na-select" ng-model="vm.trim">
          <option value="{{vm.trim}}" selected>{{vm.trim}}</option>
          <option value="1">Body Style 1</option>
          <option value="2">Body Style 2</option>
        </select>
      <li class="dropdown">
        <label>Body Style</label>
        <select class="na-select" ng-model="vm.bodystyle">
          <option value="{{vm.bodystyle}}" selected>{{vm.bodystyle}}</option>
          <option value="SUV">SUV</option>
          <option value="Sedan">Sedan</option>
          <option value="Regular Cab Pickup">Regular Cab Pickup</option>
          <option value="Extended Cab Pickup">Extended Cab Pickup</option>
          <option value="Crew Cab Pickup">Crew Cab Pickup</option>
          <option value="Convertible">Convertible</option>
          <option value="Coupe">Coupe</option>
          <option value="Hatchback">Hatchback</option>
          <option value="Wagon">Wagon</option>
          <option value="Minivan">Minivan</option>
          <option value="Passenger Van">Passenger Van</option>
          <option value="Cargo Van">Cargo Van</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Vehicle Type</label>
        <select class="na-select" ng-model="vm.vehicleType">
          <option value={{vm.vehicleType}} selected>{{vm.vehicleType}}</option>
          <option value="New">New</option>
          <option value="Used">Used</option>
          <option value="Certified Pre-Owned">Certified Pre-Owned</option>
          <option value="Salvage">Salvage</option>
        </select>
      </li>
      <li class="input">
        <label>Item Number</label>
        <input type="text" ng-model="vm.itemNo" ng-value="vm.itemNo"/>
      </li>
      <li class="input">
        <label>Mileage</label>
        <input type="text" ng-model="vm.mileage" ng-value="vm.mileage" placeholder="Mileage"/>
      </li>
      <li class="dropdown">
        <label>Location ??</label>
        <select class="na-select" ng-model="vm.lication" ng-value="vm.lication">
          <option value="0" selected>??</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Inventory Status </label>
        <select class="na-select" ng-model="vm.inventoryStatus">
          <option value="{{vm.inventoryStatus}}" selected>{{vm.inventoryStatus}}</option>
          <option value="Not Ready to List">Not Ready to List</option>
          <option value="Reconditioning">Reconditioning</option>
          <option value="In Detail">In Detail</option>
          <option value="Needs Photos">Needs Photos</option>
          <option value="Needs Condition Report">Needs Condition Report</option>
          <option value="Needs Pricing">Needs Pricing</option>
          <option value="Ready to List">Ready to List</option>
          <option value="In Marketplace">In Marketplace</option>
          <option value="Sold">Sold</option>
          <option value="Unsold">Unsold</option>
          <option value="Loaner/Dealership Vehicle">Loaner/Dealership Vehicle</option>
          <option value="Off Site">Off Site</option>
        </select>
      </li>
      <li class="input">
        <label>Date Added</label>
        <input type="date" ng-model="vm.date" ng-value="vm.addedDate"/>
      </li>
      <li class="input">
        <label>Description</label>
        <textarea type="textbox" ng-model="vm.description" ng-value="vm.description"/></textarea>
      </li>

      <li>
        <button type="submit" class="btn" id="addVehicleBasics">Next</button>
        <!-- <button class="btn" ng-href="#/vehicle/addvehiclebyvin_step3">Next</button> -->
      </li>
    </ul>
  </form>

</div>
