<header class="page-head">
  <h1>Condition Report</h1>
</header>
<div class="page form">
  <form ng-submit="vm.addCond()" >
    <ul >
      <!-- <li>
        <label>Select a Vehicle:</label>
        <select class="na-select" >
          <option value="0" selected></option>
          <option value="{{vehicle.ID}}" ng-repeat="vehicle in vehicles  track by $index" ng-model="vm.vin">{{ vehicle.Year }} {{ vehicle.Make }} {{ vehicle.Model }} {{ vehicle.Type }} &mdash; {{ vehicle.VIN }}</option>
        </select>
      </li> -->
      <li>
        <Label>Vin:</Label>
        <div class="large-6 columns">
          <input type="text" ng-model="vm.vin" placeholder="Vehicle Vin Number" required />
        </div>
      </li>

      <li>
        <label>Vehicle Condition:</label>
        <textarea class="na-input-text" placeholder="Please input condition" ng-model="vm.condition" required></textarea>
      </li>
      <li class="footer">
        <!-- <button class="na-input-submit blue" type="submit" >Add</button> -->
        <a class="btn" ng-href="#/vehicle/addcondition_step2">Next</button>

      </li>
    </ul>
  </form>

</div>
