<form ng-submit="vm.addVehicle()" >

<!-- exterior -->
<section>
  <h2>Exterior</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Exterior Color</label>
      <input type="text" ng-model="vm.exteriorColor" ng-value="vm.exteriorColor"/>
    </li>
    <li class="dropdown">
      <label>Search Color</label>
      <select class="na-select" ng-model="vm.searchColor">
        <option value="0" selected>Color</option>
        <option value="Black">Black</option>
        <option value="Blue">Blue</option>
        <option value="Brown">Brown</option>
        <option value="Copper">Copper</option>
        <option value="Gold">Gold</option>
        <option value="Grey">Grey</option>
        <option value="Maroon">Maroon</option>
        <option value="Orange">Orange</option>
        <option value="Purple">Purple</option>
        <option value="Red">Red</option>
        <option value="Silver">Silver</option>
        <option value="Tan">Tan</option>
        <option value="Teal">Teal</option>
        <option value="White">White</option>
        <option value="Yellow">Yellow</option>
      </select>
    </li>
  </ul>
  <h3>Exterior Options</h3>
  <ul class="cols-3">
    <li ng-repeat="exteriorOption in exteriorOptions">
      <input type="checkbox" checklist-model="vm.exteriorOptions" checklist-value="exteriorOption" /> <label for="">{{exteriorOption}}</label>
    </li>
  </ul>
</section>

<!-- interior -->
<section>
  <h2>Interior</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Interior Color</label>
      <input type="text" ng-model="vm.interiorColor" ng-value="vm.interiorColor" placeholder="Interior Color"/>
    </li>
    <li class="dropdown">
      <label>Seats</label>
      <select class="na-select" ng-model="vm.seatCovering">
        <option value="0" selected>Seats</option>
        <option value="Leather">Leather</option>
        <option value="Cloth">Cloth</option>
        <option value="Vinyl">Vinyl</option>
      </select>
    </li>
  </ul>
  <h3>Interior Options</h3>
  <ul class="cols-3">
    <li ng-repeat="interiorOption in interiorOptions">
      <input type="checkbox" checklist-model="vm.interiorOptions" checklist-value="interiorOption" /> <label for="">{{interiorOption}}</label>
    </li>
  </ul>
</section>

<!-- engine -->
<section>
  <h2>Engine</h2>
  <ul class="cols-2">
    <li>
      <label>Cylinder</label>
      <input type="text" ng-model="vm.cylinder" ng-value="vm.cylinder"/>
    </li>
    <li>
      <label>Compression Ratio</label>
      <input type="text" ng-model="vm.compressionRatio" ng-value="vm.compressionRatio"/>
    </li>
    <li>
      <label>Size</label>
      <input type="text" ng-model="vm.size" ng-value="vm.size"/>
    </li>
    <li>
      <label>Displacement</label>
      <input type="text" ng-model="vm.displacement" ng-value="vm.displacement"/>
    </li>
    <li>
      <label>Fuel Type</label>
      <input type="text" ng-model="vm.fuelType" ng-value="vm.fuelType"/>
    </li>
    <li>
      <label>Horsepower</label>
      <input type="text" ng-model="vm.horsepower" ng-value="vm.horsepower"/>
    </li>
    <li>
      <label>Torque</label>
      <input type="text" ng-model="vm.torque" ng-value="vm.torque"/>
    </li>
    <li>
      <label>Total Valves</label>
      <input type="text" ng-model="vm.totalValves" ng-value="vm.totalValves"/>
    </li>
    <li class="dropdown">
      <label>Transmission</label>
      <select class="na-select" ng-model="vm.transmission">
        <option value="0" selected>Transmission</option>
        <option value="Automatic">Automatic</option>
        <option value="Automatic 3-Speed">Automatic 3-Speed</option>
        <option value="Automatic 4-Speed">Automatic 4-Speed</option>
        <option value="Automatic 5-Speed">Automatic 5-Speed</option>
        <option value="Automatic 6-Speed">Automatic 6-Speed</option>
        <option value="Automatic 7-Speed">Automatic 7-Speed</option>
        <option value="Automatic 8-Speed">Automatic 8-Speed</option>
        <option value="Automatic 8-Speed">Automatic 9-Speed</option>
        <option value="Manual">Manual</option>
        <option value="Manual 4-Speed">Manual 4-Speed</option>
        <option value="Manual 5-Speed">Manual 5-Speed</option>
        <option value="Manual 6-Speed">Manual 6-Speed</option>
        <option value="Manual 7-Speed">Manual 7-Speed</option>
        <option value="Shiftable Automatic">Shiftable Automatic</option>
        <option value="Continuously Variable/CVT">Continuously Variable/CVT</option>
      </select>
    </li>
    <li class="dropdown">
      <label>Drivetrain</label>
      <select class="na-select" ng-model="vm.drivetrain">
        <option value="0" selected>Drivetrain</option>
        <option value="Front Wheel Drive">Front Wheel Drive</option>
        <option value="Rear Wheel Drive">Rear Wheel Drive</option>
        <option value="All Wheel Drive">All Wheel Drive</option>
        <option value="4 Wheel Drive">4 Wheel Drive</option>
      </select>
    </li>
    <li class="dropdown">
      <label>Fuel</label>
      <select class="na-select" ng-model="vm.fueltype">
        <option value="0" selected>Fuel</option>
        <option value="Gasoline">Gasoline</option>
        <option value="Diesel">Diesel</option>
        <option value="Gasoline/E85">Gasoline/E85</option>
        <option value="Hybrid Electric">Hybrid Electric</option>
        <option value="CNG">CNG</option>
        <option value="Hydrogen">Hydrogen</option>
        <option value="LPG">LPG</option>
      </select>
    </li>
  </ul>
</section>

<!-- safety -->
<section>
  <h2>Safety</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Brakes</label>
      <input type="text" ng-model="vm.brakes" placeholder="Brakes"/>
    </li>
  </ul>
</section>

<!-- title -->
<section>
  <h2>Title</h2>
  <ul class="cols-2">
    <li class="input">
      <label>Title Status</label>
      <input type="text" ng-model="vm.titleStatus" placeholder="Title Status"/>
    </li>
    <li class="input">
      <label>Title State</label>
      <input type="text" ng-model="vm.titleState" placeholder="Title State"/>
    </li>
  </ul>
</section>

<!-- warranty -->
<section>
  <h2>Warranty</h2>
  <ul class="cols-2">
    <li class="dropdown">
      <label>Full Warranty</label>
      <select class="na-select" ng-model="vm.fullWarranty">
        <option value="No Warranty">No Warranty</option>
        <option value="Manufacturer Warranty Active">Manufacturer Warranty Active</option>
        <option value="Aftermarket Warranty Available">Aftermarket Warranty Available</option>
        <option value="36 Months/36,000 Miles">36 Months/36,000 Miles</option>
        <option value="48 Months/48,000 Miles">48 Months/48,000 Miles</option>
        <option value="48 Months/50,000 Miles">48 Months/50,000 Miles</option>
        <option value="48 Months/60,000 Miles">48 Months/60,000 Miles</option>
        <option value="48 Months/75,000 Miles">48 Months/75,000 Miles</option>
        <option value="48 Months/100,000 Miles">48 Months/100,000 Miles</option>
        <option value="60 Months/50,000 Miles">60 Months/50,000 Miles</option>
        <option value="60 Months/60,000 Miles">60 Months/60,000 Miles</option>
        <option value="60 Months/75,000 Miles">60 Months/75,000 Miles</option>
        <option value="60 Months/100,000 Miles">60 Months/100,000 Miles</option>
        <option value="72 Months/60,000 Miles">72 Months/60,000 Miles</option>
        <option value="72 Months/75,000 Miles">72 Months/75,000 Miles</option>
        <option value="72 Months/100,000 Miles">72 Months/100,000 Miles</option>
        <option value="AUL 36 Month/36,000 Miles Service Contract">AUL 36 Month/36,000 Miles Service Contract</option>
      </select>
    </li>
    <li class="dropdown">
      <label>Drivetrain Warranty</label>
      <select class="na-select" ng-model="vm.drivetrainWarranty">
        <option value="0" selected>Driven Warranty</option>
        <option value="3 Month/3,000 Miles">3 Month/3,000 Miles</option>
        <option value="12 Month/12,000 Miles">12 Month/12,000 Miles</option>
        <option value="18 Month/18,000 Miles">18 Month/18,000 Miles</option>
        <option value="24 Month/24,000 Miles">24 Month/24,000 Miles</option>
        <option value="60 Month/100,000 Miles">v.	60 Month/100,000 Miles</option>
      </select>
    </li>
    <li class="input">
      <label>Additional Warranty</label>
      <input type="text" ng-model="vm.additionalWarranty" placeholder="Additional Warranty"/>
    </li>
    <li class="dropdown">
      <label>Certified Pre-Owned</label>
      <select class="na-select" ng-model="vm.certifiedPreOwned" id="select_year_min">
        <option value="0" selected></option>
        <option value="1">Yes</option>
        <option value="2">No</option>
      </select>
    </li>
    <li class="input">
      <label>Guaranteed Financing</label>
      <input type="text" ng-model="vm.guaranteedFinancing" placeholder="Guaranteed Financing"/>
    </li>
  </ul>
</section>

<!-- premium options -->
<section>
  <h2>Premium Options</h2>
  <ul class="cols-3">
    <li ng-repeat="premiumOption in premiumOptions" >
      <input type="checkbox" checklist-model="vm.premiumOptions" checklist-value="premiumOption" /> <label for="">{{premiumOption}}</label>
    </li>
  </ul>
</section>

<!-- truck options -->
<section>
  <h2>Truck Options</h2>
  <ul class="cols-3">
    <li ng-repeat="truckOption in truckOptions" >
      <input type="checkbox" checklist-model="vm.truckOptions" checklist-value="truckOption" /> <label for="">{{truckOption}}</label>
    </li>
  </ul>
</section>

<!-- custom options -->
<section>
  <h2>Custom Options</h2>
  <ul>
    <li>
      <textarea type="textbox" ng-model="vm.customOptions" ng-value="vm.customOptions"/></textarea>
    </li>
  </ul>
</section>

<section>
  <ul class="cols-2">
    <li class="full footer">
      <button class="" type="submit" >Add Vehicle</button>
    </li>
  </ul>

</section>
</form>
