<header class="page-head">
  <h1>Add Miscellaneous Details</h1>
</header>
<div class="page form">
  <form ng-submit="vm.addCond()" >
    <ul class="cols-2">
      <li class="dropdown">
        <label>Keys</label>
        <select class="na-select" ng-model="vm.keys" id="select_year_min">
          <option value="0" selected>Keys</option>
          <option value="1">Keys 1</option>
          <option value="2">Keys 2</option>
          <option value="3">Keys 3</option>
          <option value="4">Keys 4</option>
          <option value="5">Keys 5</option>
          <option value="6">Keys 6</option>
          <option value="7">Keys 7</option>
          <option value="8">Keys 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Windshield</label>
        <select class="na-select" ng-model="vm.windshield" id="select_year_min">
          <option value="0" selected>Windshield</option>
          <option value="1">Windshield 1</option>
          <option value="2">Windshield 2</option>
          <option value="3">Windshield 3</option>
          <option value="4">Windshield 4</option>
          <option value="5">Windshield 5</option>
          <option value="6">Windshield 6</option>
          <option value="7">Windshield 7</option>
          <option value="8">Windshield 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Owners Manual</label>
        <select class="na-select" ng-model="vm.owners_manual" id="select_year_min">
          <option value="0" selected>Owners Manual</option>
          <option value="1">Owners Manual 1</option>
          <option value="2">Owners Manual 2</option>
          <option value="3">Owners Manual 3</option>
          <option value="4">Owners Manual 4</option>
          <option value="5">Owners Manual 5</option>
          <option value="6">Owners Manual 6</option>
          <option value="7">Owners Manual 7</option>
          <option value="8">Owners Manual 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Odor</label>
        <select class="na-select" ng-model="vm.odor" id="select_year_min">
          <option value="0" selected>Odor</option>
          <option value="1">Odor 1</option>
          <option value="2">Odor 2</option>
          <option value="3">Odor 3</option>
          <option value="4">Odor 4</option>
          <option value="5">Odor 5</option>
          <option value="6">Odor 6</option>
          <option value="7">Odor 7</option>
          <option value="8">Odor 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Floor Mats</label>
        <select class="na-select" ng-model="vm.floor_mats" id="select_year_min">
          <option value="0" selected>Floor Mats</option>
          <option value="1">Floor Mats 1</option>
          <option value="2">Floor Mats 2</option>
          <option value="3">Floor Mats 3</option>
          <option value="4">Floor Mats 4</option>
          <option value="5">Floor Mats 5</option>
          <option value="6">Floor Mats 6</option>
          <option value="7">Floor Mats 7</option>
          <option value="8">Floor Mats 8</option>
        </select>
      </li>

      <li class="full footer">
        <!-- <button class="na-input-submit blue" type="submit" >Add</button> -->
        <a class="btn" ng-href="#/vehicle/addcondition_step7">Next</button>

      </li>
    </ul>
  </form>

</div>
