<header class="page-head">
  <h1>Add Vehicle Damage Details</h1>
</header>
<div class="page form">
  <form ng-submit="vm.addCond()" >
    <ul class="cols-2">

      <h1>Exterior Damage</h1>
      <li class="dropdown">
        <label>Exterior Damage Location</label>
        <select class="na-select" ng-model="vm.exteriordamage_location" id="select_year_min">
          <option value="0" selected>Damage Location</option>
          <option value="1">Damage Location 1</option>
          <option value="2">Damage Location 2</option>
          <option value="3">Damage Location 3</option>
          <option value="4">Damage Location 4</option>
          <option value="5">Damage Location 5</option>
          <option value="6">Damage Location 6</option>
          <option value="7">Damage Location 7</option>
          <option value="8">Damage Location 8</option>
        </select>
      </li>

      <li class="full text">
        <label>Damage Comment:</label>
        <textarea ng-model="vm.exterior_damage_comment"></textarea>
      </li>

      <li>
        <input ng-model="file" type="file">
      </li>

      <h1>Exterior Damage</h1>
      <li class="dropdown">
        <label>Interior Damage Location</label>
        <select class="na-select" ng-model="vm.interior_damage_location" id="select_year_min">
          <option value="0" selected>Damage Location</option>
          <option value="1">Damage Location 1</option>
          <option value="2">Damage Location 2</option>
          <option value="3">Damage Location 3</option>
          <option value="4">Damage Location 4</option>
          <option value="5">Damage Location 5</option>
          <option value="6">Damage Location 6</option>
          <option value="7">Damage Location 7</option>
          <option value="8">Damage Location 8</option>
        </select>
      </li>

      <li class="full text">
        <label>Damage Comment:</label>
        <textarea ng-model="vm.Interior_damage_comment"></textarea>
      </li>
      
      <li>
        <input ng-model="file" type="file">
      </li>

      <li class="full footer">
        <button class="na-input-submit blue" type="submit" >Add</button>

      </li>
    </ul>
  </form>

</div>
