<header class="page-head">
  <h1>Add Mechanical Details</h1>
</header>
<div class="page form">
  <form ng-submit="vm.addCond()" >
    <ul class="cols-2">
      <li class="dropdown">
        <label>Engine</label>
        <select class="na-select" ng-model="vm.engine" id="select_year_min">
          <option value="0" selected>Engine</option>
          <option value="1">Engine 1</option>
          <option value="2">Engine 2</option>
          <option value="3">Engine 3</option>
          <option value="4">Engine 4</option>
          <option value="5">Engine 5</option>
          <option value="6">Engine 6</option>
          <option value="7">Engine 7</option>
          <option value="8">Engine 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Transmission</label>
        <select class="na-select" ng-model="vm.transmission" id="select_year_min">
          <option value="0" selected>Transmission</option>
          <option value="1">Transmission 1</option>
          <option value="2">Transmission 2</option>
          <option value="3">Transmission 3</option>
          <option value="4">Transmission 4</option>
          <option value="5">Transmission 5</option>
          <option value="6">Transmission 6</option>
          <option value="7">Transmission 7</option>
          <option value="8">Transmission 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Exhaust</label>
        <select class="na-select" ng-model="vm.exhaust" id="select_year_min">
          <option value="0" selected>Exhaust</option>
          <option value="1">Exhaust 1</option>
          <option value="2">Exhaust 2</option>
          <option value="3">Exhaust 3</option>
          <option value="4">Exhaust 4</option>
          <option value="5">Exhaust 5</option>
          <option value="6">Exhaust 6</option>
          <option value="7">Exhaust 7</option>
          <option value="8">Exhaust 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Brakes</label>
        <select class="na-select" ng-model="vm.brakes" id="select_year_min">
          <option value="0" selected>Brakes</option>
          <option value="1">Brakes 1</option>
          <option value="2">Brakes 2</option>
          <option value="3">Brakes 3</option>
          <option value="4">Brakes 4</option>
          <option value="5">Brakes 5</option>
          <option value="6">Brakes 6</option>
          <option value="7">Brakes 7</option>
          <option value="8">Brakes 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>A/C</label>
        <select class="na-select" ng-model="vm.ac" id="select_year_min">
          <option value="0" selected>A/C</option>
          <option value="1">A/C 1</option>
          <option value="2">A/C 2</option>
          <option value="3">A/C 3</option>
          <option value="4">A/C 4</option>
          <option value="5">A/C 5</option>
          <option value="6">A/C 6</option>
          <option value="7">A/C 7</option>
          <option value="8">A/C 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Battery</label>
        <select class="na-select" ng-model="vm.battery" id="select_year_min">
          <option value="0" selected>Battery</option>
          <option value="1">Battery 1</option>
          <option value="2">Battery 2</option>
          <option value="3">Battery 3</option>
          <option value="4">Battery 4</option>
          <option value="5">Battery 5</option>
          <option value="6">Battery 6</option>
          <option value="7">Battery 7</option>
          <option value="8">Battery 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Oil Changed</label>
        <select class="na-select" ng-model="vm.oil_changed" id="select_year_min">
          <option value="0" selected>Oil Changed</option>
          <option value="1">Oil Changed 1</option>
          <option value="2">Oil Changed 2</option>
          <option value="3">Oil Changed 3</option>
          <option value="4">Oil Changed 4</option>
          <option value="5">Oil Changed 5</option>
          <option value="6">Oil Changed 6</option>
          <option value="7">Oil Changed 7</option>
          <option value="8">Oil Changed 8</option>
        </select>
      </li>
      <li class="dropdown">
        <label>Full Level</label>
        <select class="na-select" ng-model="vm.fuel_level" id="select_year_min">
          <option value="0" selected>Full Level</option>
          <option value="1">Full Level 1</option>
          <option value="2">Full Level 2</option>
          <option value="3">Full Level 3</option>
          <option value="4">Full Level 4</option>
          <option value="5">Full Level 5</option>
          <option value="6">Full Level 6</option>
          <option value="7">Full Level 7</option>
          <option value="8">Full Level 8</option>
        </select>
      </li>
      <li class="full footer">
        <!-- <button class="na-input-submit blue" type="submit" >Add</button> -->
        <a class="btn" ng-href="#/vehicle/addcondition_step4">Next</button>

      </li>
    </ul>
  </form>

</div>
