<header class="page-head">
  <h1>Add Tire Details</h1>
</header>
<div class="page form">
  <form ng-submit="vm.addCond()" >
    <ul class="cols-2">
      <li class="dropdown">
        <label>Tire Match</label>
        <select class="na-select" ng-model="vm.tire_match" id="select_year_min">
          <option value="0" selected>Tire Match</option>
          <option value="1">Tire Match 1</option>
          <option value="2">Tire Match 2</option>
          <option value="3">Tire Match 3</option>
          <option value="4">Tire Match 4</option>
          <option value="5">Tire Match 5</option>
          <option value="6">Tire Match 6</option>
          <option value="7">Tire Match 7</option>
          <option value="8">Tire Match 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Weather Checked</label>
        <select class="na-select" ng-model="vm.weather_checked" id="select_year_min">
          <option value="0" selected>Weather Checked</option>
          <option value="1">Weather Checked 1</option>
          <option value="2">Weather Checked 2</option>
          <option value="3">Weather Checked 3</option>
          <option value="4">Weather Checked 4</option>
          <option value="5">Weather Checked 5</option>
          <option value="6">Weather Checked 6</option>
          <option value="7">Weather Checked 7</option>
          <option value="8">Weather Checked 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Left Front</label>
        <select class="na-select" ng-model="vm.left_front" id="select_year_min">
          <option value="0" selected>Left Front</option>
          <option value="1">Left Front 1</option>
          <option value="2">Left Front 2</option>
          <option value="3">Left Front 3</option>
          <option value="4">Left Front 4</option>
          <option value="5">Left Front 5</option>
          <option value="6">Left Front 6</option>
          <option value="7">Left Front 7</option>
          <option value="8">Left Front 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Right Front</label>
        <select class="na-select" ng-model="vm.right_front" id="select_year_min">
          <option value="0" selected>Right Front</option>
          <option value="1">Right Front 1</option>
          <option value="2">Right Front 2</option>
          <option value="3">Right Front 3</option>
          <option value="4">Right Front 4</option>
          <option value="5">Right Front 5</option>
          <option value="6">Right Front 6</option>
          <option value="7">Right Front 7</option>
          <option value="8">Right Front 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Left Rear</label>
        <select class="na-select" ng-model="vm.left_rear" id="select_year_min">
          <option value="0" selected>Left Rear</option>
          <option value="1">Left Rear 1</option>
          <option value="2">Left Rear 2</option>
          <option value="3">Left Rear 3</option>
          <option value="4">Left Rear 4</option>
          <option value="5">Left Rear 5</option>
          <option value="6">Left Rear 6</option>
          <option value="7">Left Rear 7</option>
          <option value="8">Left Rear 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Right Rear</label>
        <select class="na-select" ng-model="vm.right_rear" id="select_year_min">
          <option value="0" selected>Right Rear</option>
          <option value="1">Right Rear 1</option>
          <option value="2">Right Rear 2</option>
          <option value="3">Right Rear 3</option>
          <option value="4">Right Rear 4</option>
          <option value="5">Right Rear 5</option>
          <option value="6">Right Rear 6</option>
          <option value="7">Right Rear 7</option>
          <option value="8">Right Rear 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Spare</label>
        <select class="na-select" ng-model="vm.spare" id="select_year_min">
          <option value="0" selected>Spare</option>
          <option value="1">Spare 1</option>
          <option value="2">Spare 2</option>
          <option value="3">Spare 3</option>
          <option value="4">Spare 4</option>
          <option value="5">Spare 5</option>
          <option value="6">Spare 6</option>
          <option value="7">Spare 7</option>
          <option value="8">Spare 8</option>
        </select>
      </li>

      <li class="dropdown">
        <label>Jack</label>
        <select class="na-select" ng-model="vm.jack" id="select_year_min">
          <option value="0" selected>Jack</option>
          <option value="1">Jack 1</option>
          <option value="2">Jack 2</option>
          <option value="3">Jack 3</option>
          <option value="4">Jack 4</option>
          <option value="5">Jack 5</option>
          <option value="6">Jack 6</option>
          <option value="7">Jack 7</option>
          <option value="8">Jack 8</option>
        </select>
      </li>

      <li class="full footer">
        <!-- <button class="na-input-submit blue" type="submit" >Add</button> -->
        <a class="btn" ng-href="#/vehicle/addcondition_step5">Next</button>

      </li>
    </ul>
  </form>

</div>
