<div id="na-{{ auto.naid }}-cr" class="pane">
  <button>Add New Report</button>
  <br>
  <br>
  
  <table>

    <tr>
      <th> Number</th>
      <th> Name</th>
      <th> Description</th>
      <th> Date</th>
    </tr>

    <tr>
      <td> Report 001</td>
      <td> Funny Report</td>
      <td> Really Really Really Funny Report</td>
      <td> 8-26-2016</td>
      <td><button>Edit</button></td>
    </tr>
    <tr>
      <td> Report 004</td>
      <td> NOT Funny Report</td>
      <td> Really Really Really NOT Funny Report</td>
      <td> 8-26-2016</td>
      <td><button>Edit</button></td>
    </tr>
  </table>

</div>
