<div class="page form">

  <div ng-if='vm.message' class='alert success' role='alert'>
    <p>{{ vm.message }}</p>
  </div>
  <div ng-if='vm.error' class='alert error' role='alert'>
    <p>{{ vm.error }}</p>
  </div>
  
  <form ng-hide="vm.message" name="register" id="dealer-sign-up-normal" ng-submit="vm.register()">
    <ul>
      <li>
        <label>Email</label>
        <input type="email" class="" id="dealer-email" ng-model="vm.email" placeholder="yourname@email.com" required />
      </li>
      <li>
        <label>Password</label>
        <input type="password" class="" id="dealer-password" ng-model="vm.password" placeholder="Enter your password" required />
        <input type="password" class="na-input-text" id="dealer-password-repeat" ng-model="vm.passwordRepeat"  placeholder="Confirm password" required />
      </li>
      <li>
        <button class="" id="btnSignup" type="submit" value="Sign Up">Create an account</button>
      </li>
      <li>
        <p>Already a member? <a href="#/public/dealer/dealerSignin">Sign in</a></p>
      </li>
    </ul>
  </form>

</div>