<header class="page-head">
  <h1>Inventory <!-- {{ vm.title }}--> <small>({{vehicles.length}})</small></h1>
</header>
<div class="page">
  <ul>
    <li ng-repeat="vehicle in vehicles  track by $index">
      <div class="item vehicle" ng-include src="'angular-app/partials/vehicle/item.html'"></div>
    </li>
  </ul>
<!--        <table>
          <tr>
            <th>Number</th>
            <th>Vin</th>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
          <tr ng-repeat="vehicle in vehicles  track by $index">
            <td> {{ vehicle.ID }}</td>
            <td> {{ vehicle.VIN }} </td>
            <td> {{ vehicle.Year }} </td>
            <td> {{ vehicle.Make }} </td>
            <td> {{ vehicle.Model }} </td>
            <td> {{ vehicle.Type }} </td>
            <td> {{ vehicle.Price }} </td>
            <td> {{ vehicle.Description }} </td>
          </tr>
        </table>-->

</div>
